<div id="title" class="text-center">    
    <h1><a href="{{ site.baseurl }}/">{{ site.title | default: site.github.repository_name }}</a></h1>
    <p>{{ site.tagline | default: site.description | default: site.github.project_tagline }}</p>
    <hr>
</div>
<div id="nav" class="mb-4">
    <ul class="nav justify-content-center">
        {% for item in site.data.nav %}
        <li class="nav-item">
            <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

