
body {
    --bs-body-font-size: 1.5rem;
}

.post-content {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2rem;
}
.post-content p {
    margin-bottom: 1.5rem;
}
.card-table {
   table-layout: fixed; /* Forces equal column widths */
   width: 100%; /* Ensures table spans full container */
}