<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}
  {% include head.html %}
</head>

<body>

  <div class="container-fluid">
    {% include nav.html %}


    <div class="row">
      <div class="col-12 col-md-8 post-content">
        {{ content }}
      </div>

      <div class="col-md-4 d-md-block">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
        <p class="text-center">Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author | default: "浑水摸鱼" }}. All
            rights reserved.</p>
      </div>
    </div>
    {% include foot.html %}
  </div>
</body>

</html>